<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RTT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="port_rru" value=""/>
    <add key="baudrate_rru" value=""/>
    <add key="parity_rru" value=""/>
    <add key="stopbits_rru" value=""/>
    <add key="databits_rru" value=""/>
    <add key="SIGNALANALYZER" value=""/>
    <add key="SIGNALGENERATOR" value=""/>
    <add key="SIGNALGENERATOR2" value=""/>
    <add key="RFBOX" value=""/>
    <add key="RFBOX2" value=""/>
    <add key="DC5767A" value=""/>
    <add key="INTERFERENCE_SIGNAL_1" value=""/>
    <add key="INTERFERENCE_SIGNAL_2" value=""/>
    <add key="RuMaster" value=""/>
    <add key="ts_loadpath" value="c:\\"/>
    <add key="ts_savepath" value="c:\\"/>
    <add key="disp_backcolor" value=""/>
    <add key="disp_forecolor" value=""/>
    <add key="disp_font" value=""/>
    <add key="server_port" value="8001"/>
    <add key="Du_ip" value=""/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <RTT.Properties.Settings>
            
        </RTT.Properties.Settings>
    </userSettings>
</configuration>
